node {

  stage("Deploy Sock-Shop") {
    build 'Sockshop-Deploy'
  }

  stage("Wait for container to come up") {
    sh '''      until $(curl --output /dev/null --silent --head --fail http://sockshop-{{ groups['console'][0]}}); do
                  printf "."
                  sleep 5
                done
    '''
  }

  stage("Generate Load on Sock-Shop") {
    build 'Sockshop-Loadgen'
  }
}