apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: mail-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
    ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.org/ssl-redirect: "false"
  namespace: infra
spec:
  rules:
  - host: mail-{{ groups['k8s-master'][0] }}
    http:
      paths:
      - backend:
          serviceName: mail
          servicePort: 80
        path: /
  tls:
   - hosts:
     - mail-{{ groups['k8s-master'][0] }}
     secretName: console-cert
status:
  loadBalancer: {}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mailetc
  namespace: infra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
  
  storageClassName: slow
---
kind: Service
apiVersion: v1
metadata:
  name: mail
  namespace: infra
spec:
  selector:
    app: mail
  type: NodePort
  ports:
    - name: mailhttp
      port: 80
    - name: mailsmtp
      port: 25
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mail
  namespace: infra
  labels:
    apps: mail
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mail
  template:
    metadata:
      labels:
        app: mail
    spec:
      containers:
        - name: mail
          image: djfarrelly/maildev
          ports:
            - name: mailweb
              containerPort: 80
              hostPort: 80
            - name: mailsmtp
              containerPort: 25
              hostPort: 25
          resources:
            requests:
              ephemeral-storage: "2Gi"
            limits:
              ephemeral-storage: "4Gi"
          volumeMounts:
          - name: mailpersistentvolume
            mountPath: "/tmp"
      volumes:
      - name: mailpersistentvolume
        persistentVolumeClaim:
          claimName: mailetc
