---
apiVersion: v1
kind: Service
metadata:
  name: gogs-postgres
  namespace: infra
spec:
  type: NodePort
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: gogs-postgres
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: gogs-postgres
  namespace: infra
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: gogs-postgres
    spec:
      containers:
      - name: postgres
        image: {{ postgres_img }}
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql
          name: postgres-storage
        env:
        - name: POSTGRES_DB
          value: gogs
        - name: POSTGRES_USER
          value: gogs
        - name: POSTGRES_PASSWORD
          value: chute trapper gainfully uncolored supplier grinch

      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
            claimName: gogs-db-pvc
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gogs-db-pvc
  namespace: infra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
