node {

    stage("Enable runtime learning") {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
                        sh 'curl -s -k -u $TL_USER:$TL_PASS \"https://$TL_CONSOLE/api/v1/containers?search=sock-shop\" |  jq --raw-output ".[].info.profileID" > sock-shop-ids'
                        sh '''        while IFS= read -r id; do
                                curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/profiles/container/$id/learn -X POST -H \"Content-Type:application/json\" -v -d "{\\\"imageID\\\":\\\"$id\\\", \\\"state\\\":\\\"manualRelearning\\\"}"
                                done <sock-shop-ids
                        '''
                }	
    }

    stage("Generate load to Sock Shop") {
        docker.image('weaveworksdemos/load-test').withRun('--entrypoint="/usr/local/bin/runLocust.sh"', '-h sockshop-{{ groups['console'][0]  }} -r 100 -c 2') {
            sh 'sleep 30'
        }
    }

    stage("Generate load again for good measure") {
        docker.image('weaveworksdemos/load-test').withRun('--entrypoint="/usr/local/bin/runLocust.sh"', '-h sockshop-{{ groups['console'][0]  }} -r 50 -c 6') {
            sh 'sleep 30'
        }
    }
}