<com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>AWS_creds</id>
  <accessKey>{{ aws_access_key_id }}</accessKey>
  <secretKey>{{ aws_secret_access_key }}</secretKey>
  <iamRoleArn/>
  <iamMfaSerialNumber/>

</com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl>