<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.twistlock.builder.BuildScannerDescriptor plugin="twistlock-jenkins-plugin@{{ twistlock_version }}">
  <address>{{ twistlock_console }}</address>
  <username>jenkins</username>
  <password>{{ new_password }}</password>
</org.jenkinsci.plugins.twistlock.builder.BuildScannerDescriptor>