node {

  stage("Deploy Struts2 demo container") {
    build 'Struts-Deploy'
  }

  stage("Wait for container to come up") {
    sh '''      until $(curl --output /dev/null --silent --head --fail http://{{ (lookup('shorthostname', groups['console'][0])) }}:18081/showcase.action); do
                  printf "."
                  sleep 5
                done
    '''
  }

  stage("Exploit Struts2 demo") {
    build 'Struts-Compromise'
  }
}