users:
  - username: admin
    fullname: Mr. Anderson
    password: {{ new_password }}
    groups:
      - admins
      - devops
  - username: alice
    fullname: Alice Wonderland
    password: ..generate..
    groups:
      - admins
      - devops
  - username: bob
    fullname: Bob 4Apples
    password: ..generate..
    groups:
      - secops
  - username: carol
    fullname: Carols Bells
    password: ..generate..
    groups:
      - auditor