version: "3"
services:

  aspnet48:
    image: mcr.microsoft.com/dotnet/framework/aspnet:4.8
    tty: true
    ports:
      - "8000:80"
    networks:
      - "default"

  dotnet35:
    image: mcr.microsoft.com/dotnet/framework/runtime:3.5
    tty: true
    ports:
      - "8001:80"
    networks:
      - "default"

  dotnet48:
    image: mcr.microsoft.com/dotnet/framework/runtime:4.8
    tty: true
    ports:
      - "8002:80"
    networks:
      - "default"

  iis:
    image: mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019
    tty: true
    ports:
      - "8003:80"
    networks:
      - "default"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://{{ (lookup('shorthostname', groups['console'][0])) }}:18081/showcase.action", "&", "curl", "-f", "http://{{ groups['windows'][0] }}:8000", "&", "curl", "-f", "http://{{ groups['windows'][0] }}:8001", "&", "curl", "-f", "http://{{ groups['windows'][0] }}:8002", "&", "curl", "-f", "http://{{ groups['windows'][0] }}:8004"]
      interval: 5s
      retries: 60

  servercore:
    image: mcr.microsoft.com/windows/servercore:ltsc2019
    tty: true
    ports:
      - "8004:80"
    networks:
      - "default"

networks:
  default:
