apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cloud-config: /etc/kubernetes/pki/cloud.conf
    cloud-provider: gce
---
apiServerExtraArgs:
  cloud-config: /etc/kubernetes/pki/cloud.conf
  cloud-provider: gce
  service-node-port-range: 9000-32000
  feature-gates: DynamicAuditing=true
  runtime-config: auditregistration.k8s.io/v1alpha1=true
  audit-dynamic-configuration: "true"
apiVersion: kubeadm.k8s.io/v1alpha3
controllerManagerExtraArgs:
  cloud-config: /etc/kubernetes/pki/cloud.conf
  cloud-provider: gce
  cluster-name: "{{ groups['console'][0] | replace('twistlock.com', '') | replace('_', '-') | replace('.', '-')  }}"
kind: ClusterConfiguration
kubernetesVersion: v1.13.0
networking:
  dnsDomain: cluster.local
  podSubnet: 10.244.0.0/16
