kind: Namespace
apiVersion: v1
metadata:
  name: infra
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ldap-data
  namespace: infra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  
  storageClassName: slow
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ldap-config
  namespace: infra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  
  storageClassName: slow
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ldap
  namespace: infra
  labels:
    app: ldap
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ldap
    spec:
      containers:
        - name: ldap
          image: openfrontier/openldap-server
          volumeMounts:
            - name: ldap-data
              mountPath: /var/lib/ldap
            - name: ldap-config
              mountPath: /etc/ldap

          ports:
            - containerPort: 389
              name: openldap
          env:
            - name: SLAPD_ORGANIZATION
              value: "Twistlock Demo Environment"
            - name: SLAPD_DOMAIN
              value: "{{ domain_root }}"
            - name: SLAPD_PASSWORD
              value: "{{ new_password }}"

      volumes:
        - name: ldap-data
          persistentVolumeClaim:
            claimName: ldap-data
        - name: ldap-config
          persistentVolumeClaim:
            claimName: ldap-config

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ldap
  name: ldap-service
  namespace: infra
spec:
  ports:
    - port: 389
  selector:
    app: ldap
