node {
  stage("Struts2 version builds") {
    parallel {%- for item in struts2_vers %} '{{ item.name }}': {
            stage("Deploy Struts2 {{ item.name }}") {
                build job: 'Struts-Image', parameters: [string(name: 'owner_email', value: '{{ emailaddr }}'), string(name: 'struts2_version', value: '{{ item.struts2_ver }}'), string(name: 'tomcat_version', value: '{{ item.tomcat_ver }}')]

            }
        }{%- if not loop.last %},{% endif %}
{% endfor %}

  }

{# run these in series #}
{% for buildType in ['demo','compromises'] %}
{% for item in jenkins_demo_projects if (item.group|default("none")) == buildType %}
  stage("Deploy {{ item.name }}") {
    build job: '{{ item.name }}', propagate: 'false'
  }
{% endfor %}
{% endfor %}

{# run these in parallel #}
{% for buildType in ['containers','rasp','ops'] %}
  stage("{{ buildType }}") {
    parallel {%- for item in jenkins_demo_projects if (item.group|default("none")) == buildType  %} '{{ item.name }}': {
            stage("Deploy {{ item.name }}") {
                build job: '{{ item.name }}', propagate: 'false'
            }
        }{%- if not loop.last %},{% endif %}
{% endfor %}
  }
{% endfor %}

}