node {
        stage('Turn off learning') {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
                        sh 'curl -s -k -u $TL_USER:$TL_PASS \"https://$TL_CONSOLE/api/v1/profiles/container?search=struts2_demo:2.3.12\" |  jq --raw-output \'.[] | select ( ._id | contains("struts-demo")) | ._id\' > struts_id'
                        sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/profiles/container/$(cat struts_id)/learn -X POST -H \"Content-Type:application/json\" -v -d "{\\\"imageID\\\":\\\"$(cat struts_id)\\\", \\\"state\\\":\\\"manualActive\\\"}"'
                }			
        }

        stage('Exploit')
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker run -i neilcar/attacker_client sh /struts2/exploit_auto.sh {{ (lookup('shorthostname', groups['console'][0])) }}:18081"

        }      
        stage('Turn learning back on') {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
                        sh 'curl -s -k -u $TL_USER:$TL_PASS \"https://$TL_CONSOLE/api/v1/profiles/container?search=struts2_demo:2.3.12\" |  jq --raw-output \'.[] | select ( ._id | contains("struts-demo")) | ._id\' > struts_id'
                        sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/profiles/container/$(cat struts_id)/learn -X POST -H \"Content-Type:application/json\" -v -d "{\\\"imageID\\\":\\\"$(cat struts_id)\\\", \\\"state\\\":\\\"manualRelearning\\\"}"'
                }			
        }
}