node {
    
    stage('Clean') {
		sh 'mkdir config -p'
        sh 'rm config/*.* || true'
 		sh 'git config --global user.email "automation@twistlock.local"'
		sh 'git config --global user.name "Automation"'

    }


    stage('Clone repository') {
        /* Let's make sure we have the repository cloned to our workspace */

        checkout([$class: 'GitSCM', branches: [[name: '*/master']], doGenerateSubmoduleConfigurations: false, extensions: [], submoduleCfg: [], userRemoteConfigs: [[url: "https://${env.git_url}.git"]]])
    }

    stage('Push auth/user settings') {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/users -X PUT -H "Content-Type:application/json" --data-binary "@config/users.json"'
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/groups -X PUT -H "Content-Type:application/json" --data-binary "@config/groups.json"'
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/settings/ldap -X PUT -H "Content-Type:application/json" --data-binary "@config/settings_ldap.json"'
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/credentials -X PUT -H "Content-Type:application/json" --data-binary "@config/credentials.json"'

		}
    }

    stage('Push vuln/compliance config') {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
        	
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/settings/registry -X POST -H "Content-Type:application/json" --data-binary "@config/settings_registry.json"'
{% if twistlock_version.split('.')[0] == "18" %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/compliance -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_compliance.json"'
{% else %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/compliance/container -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_compliance_container.json"'
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/compliance/host -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_compliance_host.json"'
{% endif %}
{% if twistlock_version.split('.')[0] == "18" %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/cve -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_vulns.json"'
{% else %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/vulnerability/images  -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_vulns_images.json"'
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/vulnerability/host -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_vulns_host.json"'
{% endif %}
       }
    }

    stage('Push runtime/firewall config') {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/firewall/app/container -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_firewall_app_container.json"'
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/runtime/container -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_runtime_container.json"'
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/runtime/host -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_runtime_host.json"'
        	sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/runtime/serverless -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_runtime_serverless.json"'
{% if twistlock_version.split('.')[0] == "18" %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/firewall/app/fargate -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_firewall_app_fargate.json"'
{% else %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/firewall/app/rasp -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_firewall_app_rasp.json"'
{% endif %}
{% if twistlock_version.split('.')[0] == "18" %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/firewall/network -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_firewall_network.json"'
{% else %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/firewall/network/container -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_firewall_network_container.json"'
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/firewall/network/host -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_firewall_network_host.json"'
{% endif %}
{% if twistlock_version.split('.')[0] == "18" %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/runtime/fargate -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_runtime_fargate.json"'
{% else %}
			sh 'curl -s -k -u $TL_USER:$TL_PASS https://$TL_CONSOLE/api/v1/policies/runtime/rasp -X PUT -H "Content-Type:application/json" --data-binary "@config/policy_runtime_rasp.json"'
{% endif %}
 
		} 
    }


}