node {

    stage('Clone repository') {
        /* Let's make sure we have the repository cloned to our workspace */
        checkout scm
    }

    stage('Copy docker-compose.yml to Windows Host') {
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
            sh "scp -o StrictHostKeyChecking=no ./docker-compose.yml twistlock@{{ groups['windows'][0]}}:docker-compose.yml"
        }
    }

    stage('Start Docker Service') {
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
            sh "ssh -o StrictHostKeyChecking=no twistlock@{{ groups['windows'][0]}} PowerShell.exe -Command 'Start-Service -Name docker -PassThru'"
        }
    }

    stage('Start TwistlockDefender Service') {
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
			sh "ssh -o StrictHostKeyChecking=no twistlock@{{ groups['windows'][0]}} PowerShell.exe -Command 'Start-Service -Name twistlockDefender -PassThru'"
        }
    }

    stage('Cleanup existing docker-compose.yml/ Loadgen') {
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
            sh "ssh -o StrictHostKeyChecking=no twistlock@{{ groups['windows'][0]}} docker-compose -f docker-compose.yml down"
        }
    }

    stage('Deploy docker-compose.yml/ Loadgen') {
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
            sh "ssh -o StrictHostKeyChecking=no twistlock@{{ groups['windows'][0]}} docker-compose -f docker-compose.yml up -d --force-recreate"
        }
    }
}
