node {
    
    stage('Clean') {
        sh 'rm *.zip || true'

    }


    stage('Clone repository') {
        /* Let's make sure we have the repository cloned to our workspace */

        checkout scm
    }

    stage('Embed RASP Defender') {
        withCredentials([usernamePassword(credentialsId: 'twistlock_creds', passwordVariable: 'TL_PASS', usernameVariable: 'TL_USER')]) {
            sh 'curl -k -u $TL_USER:$TL_PASS --output ./twistcli https://$TL_CONSOLE/api/v1/util/twistcli'
            sh 'sudo chmod a+x ./twistcli'        
            sh './twistcli rasp embed --console-host $TL_CONSOLE -address https://$TL_CONSOLE -u $TL_USER -p $TL_PASS --data-folder /twistlock/ --output-file rasp-defender.zip --app-id rasp-struts Dockerfile'
        } 
    }
    

    stage('Build Image') {

        unzip dir: './', glob: '', zipFile: 'rasp-defender.zip'
        docker.build("rasp-struts:${env.BUILD_ID}", ".")
        sh "docker save rasp-struts:${env.BUILD_ID} > rasp-struts-defender-${env.BUILD_ID}.tar"
    }

     
 

    stage('Publish Container') {
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker stop rasp-struts | true"
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker rm rasp-struts | true"
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker load < ./rasp-struts-defender-${env.BUILD_ID}.tar"
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker run --name rasp-struts -d -p 18081:8080 rasp-struts:${env.BUILD_ID}"
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker logs rasp-struts"

        }
 
              
        

    }
              
    stage('Exploit')
 		sshagent (credentials: ['bb4af5c8-29c5-4063-b318-0e62f75700ca']) {
            sh "sleep 30"
			sh "ssh -o StrictHostKeyChecking=no {{ target_user }}@{{ groups['task-runner'][0] }} docker run -i neilcar/attacker_client sh /struts2/exploit_auto.sh {{ (lookup('shorthostname', groups['task-runner'][0]))  }}:18081"

        }      

}