apiVersion: v1
kind: Service
metadata:
  name: jira-db
  namespace: infra
  labels:
    app: jira-db
spec:
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: jira-db
  type: NodePort
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: jira-db
  name: jira-db
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jira-db
  serviceName: jira-db
  template:
    metadata:
      labels:
        app: jira-db

    spec:
      containers:
      - image: {{ jira_db_img }}
        imagePullPolicy: IfNotPresent
        name: jira-db
        env:
        - name: DB_PASS
          value: atlassian
        - name: DB_NAME
          value: jira
        - name: DB_USER
          value: atlassian
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: "/var/lib/postgresql"
          name: persistentdata
      imagePullSecrets:
        - name: demo-build-registry
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        - name: persistentdata
          persistentVolumeClaim:
            claimName: jira-db-pvc
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: jira-db-pvc
  namespace: infra
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
